# Base de données
DATABASE_URL="postgresql://pharmacie:pharmacie_password@localhost:5432/pharmacie_mvp?schema=public"

# JWT
JWT_SECRET="changez_cette_cle_par_une_chaine_aleatoire_de_64_caracteres_minimum_avec_openssl_rand_base64_64"
JWT_EXPIRES_IN="24h"
COOKIE_SECRET="votre-secret-pour-signer-le-cookie"

# App
NODE_ENV="development"
PORT="3001"
API_URL="http://localhost:3001"